*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.align{
    margin-left: 20px;
    padding-top: 20px; 
}
body{
margin-top: 10%;
display: flex;
justify-content: center;
background-image: url(https://c4.wallpaperflare.com/wallpaper/118/216/2/mountains-trees-moon-landscape-wallpaper-preview.jpg);
background-position: center;
background-size: cover;
}
.calc{
    width: 25%;
    height: 450px;
    background-color:transparent;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    border-radius: 50px;
/* background: linear-gradient(145deg, #587b54, #699364); */
box-shadow:  -5px -5px 0px #41407e,
5px 5px 0px #958bed;
}
.calc>.align>.numbers>button{
    width: 70px;
    height: 50px;
    margin: 4px;
    border-radius: 5px;
    border: none;
    background-color:transparent;
    border-radius: 38px;
    border-radius: 38px;
    color: white;
    font-size: 18px;
box-shadow: inset 5px 5px 3px #41407e,
            inset -1px -2px 3px #958bed;
}
#zero{
    width:150px ;
}
.calc>.align>.numbers{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
}
.calc>.align>.text{
    width: 100%;
    margin-left: 5px;
}
.calc>.align>.text>#input{
    width: 90%;
    height: 80px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 40px;
    color: rgb(230, 228, 228);
    background-color:transparent;
    box-shadow: inset 5px 5px 3px #41407e,
            inset -1px -1px 3px #958bed;
    caret-color: #958bed;    
}
.calc>.align>.numbers>button:hover{
    box-shadow:  5px 5px 3px #41407e,
                -1px -2px 3px #958bed;
}
.calc>.align>.numbers>button:active{
    transform: translatey(5px);
    box-shadow:inset 5px 5px 3px #41407e,
    inset -1px -1px 3px #958bed; ;
}